body {
  background-color: #282c34;
}
#menu-bar {
  background-color: #A9A9A9;
  border-radius :5px;
  min-height: 100vh;
  width: 8vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  position: fixed;
  top:0;
  left:0;
}
.menu-item{
  padding-top:3vh;
  padding-bottom:3vh;
  text-align: center;
}
.menu-item:hover{
  background-color:  #282c34;
  transition: 500ms;
}
.menu-item img{
  width : 40%;
}
p{
  text-align: center;
  margin-left: 8vh;
  color: #A9A9A9;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 8vh;
  width: 95%;
  height: 400px;
}